# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.env
.venv
backend/env/
backend/venv/
backend/ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (optional, keep if you want to version-control them)
# */migrations/
# but keep __init__.py files
!*/migrations/__init__.py